<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cantilever Shoes Factory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">CANTILEVER SHOES FACTORY</h1>
        
        <form method="POST" action="/">
            <div class="form-group">
                <input type="text" name="search" class="form-control" placeholder="Search shoes...">
            </div>
            <button type="submit" class="btn btn-dark">Search</button>
        </form>

        <div class="row mt-4">
            {% for product in products %}
            <div class="col-md-3 col-sm-6">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename=product.link) }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-rating">{{ product.rating }}</p> 
                        <p class="card-text">₹{{ product.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>&copy; <script>document.write(new Date().getFullYear());</script> Yash Rawat. All rights reserved.</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

</body>
</html>
